<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.qcy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SophixStubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_img"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_img_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:name">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="606d096e18eca2fe305960b21949bf68" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.chanpindating.ChanpindatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.chanyezixun.ChanyezixunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.qiugoudating.QiugoudatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.kaifangshangcheng.KaifangshangchengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.user.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.qiugoudating.FabuqiugouActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.qiugoudating.QiugouxiangqingActivity"
            android:screenOrientation="portrait">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.enquiry"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.qiugoudating.CanyubaojiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.qiugoudating.WodeqiugouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.QiehuanshenfenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.qiugoudating.WodebaojiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.activity.qiugoudating.DaichuliqiugouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.qiugoudating.DaichulibaojiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.kaifangshangcheng.KFSCXiangqingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.chanpindating.ChanpinxiangqingActivity"
            android:screenOrientation="portrait">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.product"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chanyezixun.ZixunxiangqingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.tuangou.activity.TuangouliebiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.tuangou.activity.TuangouxiangqingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TuangouTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".huodong.tuangou.activity.WoyaotuangouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.SearchTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.activity.user.LianxikefuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.tuangou.activity.YingxiongmashuomingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.ZhanghaozhongxinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.message.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.PubulishPYQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.DavrenzhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.ShipinbofangActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.PengyouquanDetailActivity"
            android:screenOrientation="portrait">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.friendcircle"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.pengyouquan.PersonInfoActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Utils.JpushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.company.qcy" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/matis_path" />
        </provider>
        <provider
            android:name=".MyFileProvider"
            android:authorities="${applicationId}.demo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity
            android:name=".ui.activity.user.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <!-- 微信分享回调 android:taskAffinity="net.sourceforge.simcpux" -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.user.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.MyDyeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.ChangeNicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.MyPersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pengyouquan.MyNotReadCommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.AboutQCYActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MyWelcomeActivity" />
        <activity android:name=".GuideActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/startTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".huodong.youhuizhanxiao.activity.YouhuizhanxiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.youhuizhanxiao.activity.YouhuizhanxiaoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.youhuizhanxiao.activity.YouhuizhanxiaoBuyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".huodong.caigoulianmeng.activity.WoyaodinghuoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.WodedinghuodanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.WodegonghuodanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng.activity.WoyaogonghuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng.activity.AddDinghuoCustomProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".huodong.toupiao.activity.ToupiaoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.CaigoulianmengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.toupiao.activity.ToupiaoDetailActivity"
            android:screenOrientation="portrait">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.vote"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".huodong.toupiao.activity.ToupiaoSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.toupiao.activity.XuanshouDetailActivity"
            android:screenOrientation="portrait">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.vote.player"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".huodong.caigoulianmeng2.activity.HuodanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.DinghuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.ZidingyiDinghuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.GonghuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.caigoulianmeng2.activity.ZidingyiGonghuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.jingpai.activity.JingpaiActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".huodong.jingpai.activity.JingpaiDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".huodong.jingpai.activity.CanyujingpaiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.kaifangshangcheng.QiyezizhiActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.activity.pengyouquan.PengyouquanChoiceAddressActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.activity.pengyouquan.ChoiceHuatiActivity" />
        <activity android:name=".ui.activity.pengyouquan.MapActivity" />
        <activity android:name=".ui.activity.pengyouquan.ErjihuatiDetailActivity" />
        <activity android:name=".ui.activity.pengyouquan.MyFriendsActivity"></activity>
    </application>

</manifest>