<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.qcy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 添加权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:name=".SophixStubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_img"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_img_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:name">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="606d096e18eca2fe305960b21949bf68" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cd38537570df39ed3000a4a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.main"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.chanpindating.ChanpindatingActivity" />
        <activity android:name=".ui.activity.chanyezixun.ChanyezixunActivity" />
        <activity android:name=".ui.activity.qiugoudating.QiugoudatingActivity" />
        <activity android:name=".ui.activity.kaifangshangcheng.KaifangshangchengActivity" />
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.user.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.user.ResetPasswordActivity" />
        <activity android:name=".ui.activity.user.RegisterActivity" />
        <activity
            android:name=".ui.activity.qiugoudating.FabuqiugouActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.activity.qiugoudating.QiugouxiangqingActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.enquiry"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.qiugoudating.CanyubaojiaActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.qiugoudating.WodeqiugouActivity" />
        <activity android:name=".ui.activity.user.SettingActivity" />
        <activity android:name=".ui.activity.user.QiehuanshenfenActivity" />
        <activity android:name=".ui.activity.qiugoudating.WodebaojiaActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".base.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.activity.qiugoudating.DaichuliqiugouActivity" />
        <activity android:name=".ui.activity.qiugoudating.DaichulibaojiaActivity" />
        <activity android:name=".ui.activity.kaifangshangcheng.KFSCXiangqingActivity" />
        <activity android:name=".ui.activity.chanpindating.ChanpinxiangqingActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.product"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.chanyezixun.ZixunxiangqingActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.information"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".huodong.tuangou.activity.TuangouliebiaoActivity" />
        <activity
            android:name=".huodong.tuangou.activity.TuangouxiangqingActivity"
            android:theme="@style/TuangouTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".huodong.tuangou.activity.WoyaotuangouActivity" />
        <activity
            android:name=".base.SearchTypeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.activity.user.LianxikefuActivity" />
        <activity android:name=".ui.activity.user.ZhanghaozhongxinActivity" />
        <activity android:name=".ui.activity.message.MessageDetailActivity" />
        <activity android:name=".base.WebActivity" />
        <activity android:name=".ui.activity.pengyouquan.PubulishPYQActivity" />
        <activity android:name=".ui.activity.pengyouquan.DavrenzhengActivity" />
        <activity
            android:name=".ui.activity.pengyouquan.ShipinbofangActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.activity.pengyouquan.ImagePagerActivity" />
        <activity
            android:name=".ui.activity.pengyouquan.PengyouquanDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.friendcircle"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.pengyouquan.PersonInfoActivity" />

        <receiver
            android:name=".Utils.JpushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.company.qcy" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Utils.NetWorkStateChangeReceiver">
            <intent-filter>

                <!-- 监听的动作类型，这里是监听网络连接的状态 -->

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/matis_path" />
        </provider>
        <provider
            android:name=".MyFileProvider"
            android:authorities="${applicationId}.demo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name=".ui.activity.user.ChangePasswordActivity" />

        <!-- 微信分享回调 android:taskAffinity="net.sourceforge.simcpux" -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.user.BindPhoneActivity" />
        <activity android:name=".ui.activity.pengyouquan.MyDyeInfoActivity" />
        <activity android:name=".ui.activity.pengyouquan.ChangeNicknameActivity" />
        <activity android:name=".ui.activity.pengyouquan.MyPersonInfoActivity" />
        <activity android:name=".ui.activity.pengyouquan.MyNotReadCommunityActivity" />
        <activity android:name=".ui.activity.user.AboutQCYActivity" />
        <activity android:name=".MyWelcomeActivity" />
        <activity android:name=".GuideActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/startTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".huodong.youhuizhanxiao.activity.YouhuizhanxiaoActivity" />
        <activity android:name=".huodong.youhuizhanxiao.activity.YouhuizhanxiaoDetailActivity" />
        <activity
            android:name=".huodong.youhuizhanxiao.activity.YouhuizhanxiaoBuyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".huodong.caigoulianmeng.activity.WoyaodinghuoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".huodong.caigoulianmeng2.activity.WodedinghuodanDetailActivity" />
        <activity android:name=".huodong.caigoulianmeng2.activity.WodegonghuodanDetailActivity" />
        <activity android:name=".huodong.caigoulianmeng.activity.WoyaogonghuoActivity" />
        <activity
            android:name=".huodong.caigoulianmeng.activity.AddDinghuoCustomProductActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".huodong.toupiao.activity.ToupiaoListActivity" />
        <activity android:name=".huodong.caigoulianmeng2.activity.CaigoulianmengActivity" >

        </activity>
        <activity android:name=".huodong.toupiao.activity.ToupiaoDetailActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.vote"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".huodong.toupiao.activity.ToupiaoSearchActivity" />
        <activity android:name=".huodong.toupiao.activity.XuanshouDetailActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.i7colors.vote.player"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".huodong.caigoulianmeng2.activity.HuodanActivity" />
        <activity android:name=".huodong.caigoulianmeng2.activity.DinghuoActivity" />
        <activity android:name=".huodong.caigoulianmeng2.activity.ZidingyiDinghuoActivity" />
        <activity android:name=".huodong.caigoulianmeng2.activity.GonghuoActivity" />
        <activity android:name=".huodong.caigoulianmeng2.activity.ZidingyiGonghuoActivity" />
        <activity android:name=".huodong.jingpai.activity.JingpaiActivity" />
        <activity
            android:name=".huodong.jingpai.activity.JingpaiDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".huodong.jingpai.activity.CanyujingpaiActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.kaifangshangcheng.QiyezizhiActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation" />
        <activity android:name=".ui.activity.pengyouquan.PengyouquanChoiceAddressActivity" />
        <activity android:name=".ui.activity.pengyouquan.ChoiceHuatiActivity" />
        <activity android:name=".ui.activity.pengyouquan.MapActivity" />
        <activity android:name=".ui.activity.pengyouquan.ErjihuatiDetailActivity" />
        <activity android:name=".ui.activity.pengyouquan.MyTongunluFriendsActivity" />
        <activity android:name=".ui.activity.pengyouquan.MessageActivity" />
        <activity android:name=".ui.activity.pengyouquan.WodepinglunMessageActivity" />
        <activity android:name=".ui.activity.pengyouquan.WodedianzanMessageActivity" />
        <activity android:name=".ui.activity.pengyouquan.WodeaiteMessageActivity" />
        <activity android:name=".ui.activity.pengyouquan.WodehaoyouMessageActivity" />
        <activity android:name=".ui.activity.pengyouquan.ShuikeyikanActivity" />
        <activity android:name=".ui.activity.user.ChoiceHeadImageActivity" />
        <activity android:name=".base.WebNoBottomActivity" />
        <activity
            android:name=".map.QCYMapActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".map.NoMarketCompanyActivity" />
        <activity android:name=".huodong.tuangou.activity.WodeTuangouListActivity" />
        <activity android:name=".huodong.tuangou.activity.ShareDetailActivity" />
        <activity android:name=".huodong.tuangou.activity.KanjiaActivity">
            <intent-filter>
                <data
                    android:host="m.i7colors.cut"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ShareDispatchActivity"></activity>
    </application>

</manifest>